* {
    padding: 0px;
    margin: 0px;
}
header {
    width: auto;
    height: 50px;
    padding: 10px 0px 0px 40px;
    border-bottom: 2px solid white;
    font-size: 23pt;
    background: lightsteelblue;
    color: white;
}
nav {
    width: auto;
    height: 35px;
    border-bottom: 2px solid white;
    font-size: 14pt;
    background: gray;
    color: white;
}
ul {
    display: inline-block; /*Разместить элементы в ряд*/
    margin-left: 60px;
}
li {
    display: inline-block;
    padding: 5px;
}
#search {
    width: 180px;
    margin-left: 40px;
}
main {
    width: auto;
    height: 500px;
    border-bottom: 3px solid steelblue;
    background: gainsboro;
}



footer {
    width: auto;
    height: 50px;
    background: slategrey;
    color: white;
}
