* {
    margin: 0px;
    padding: 0px;
}
header {
    width: auto;
    height: 50px;
    padding: 10px 0px 0px 40px;
    border-bottom: 2px solid white;
    font-size: 23pt;
    background: lightsteelblue;
    color: white;
}
nav {
    width: auto;
    height: 35px;
    border-bottom: 2px solid white;
    font-size: 14pt;
    background: gray;
    color: white;
}
ul {
    display: inline-block; /*Разместить элементы в ряд*/
    margin-left: 60px;
}
li {
    display: inline-block;
    padding: 5px;
}
#search {
    width: 180px;
    margin-left: 40px;
}

main {
    width: auto;
    height: 980px;
    overflow: auto;
    display: flex; /*Разместить все элементы по флексу в ряд */
    border-bottom: 3px solid steelblue;
    background: gainsboro;
}
#strategy_block {
    width: 500px;
    height: 650px;
    margin: 10px 0px 0px 70px;
    /*background: gold;*/
}
.task_title {
    font-size: 14pt;
    background: yellowgreen;
}
.task {
    width: auto;
    height: 150px;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 0px 20px;
    box-sizing: border-box; /*не увеличивает блок за счет padding */
    font-size: 12pt;
    hyphens: auto; /*Для переноса текста в блоке */
    background: seashell;
}

#map_tactics_pics_div { /*обертка для отдельного флекс позиционирония */
    width: 740px;
    height: 650px;
    display: flex;
    position: relative;
    margin: 10px 0px 0px 10px;
    flex-direction: column;
    /*background: red;*/
}
#tactics_block {
    width: 500px;
    height: 350px;
    margin: 10px 0px 0px 15px;
    /*background: hotpink;*/
}
aside {
    width: 300px;
    height: 200px;
    margin: 0px 0px 0px 15px;
    background: ghostwhite;
}

#picture_div {
    width: 380px;
    height: 170px;
    display: flex;
    position: absolute; /*отмена родительского flex*/
    margin: 0px 0px 0px 330px;
    padding-left: 10px;
    /*background: teal;*/
}
img {
    margin-right: 10px;
}

form {
    width: 250px;
    height: 350px;
    margin: 10px 0px 0px 50px;
    padding: 15px 0px 0px 30px;
    box-sizing: border-box;
    font-size: 14pt;
    background: lavender;
}

footer {
    width: auto;
    height: 50px;
    padding: 10px 0px 0px 50px;
    box-sizing: border-box;
    background: slategrey;
    color: white;
}