* {
    padding: 0px;
    margin: 0px;
}
header {
    width: auto;
    height: 50px;
    padding: 10px 0px 0px 40px;
    border-bottom: 2px solid white;
    font-size: 23pt;
    background: lightsteelblue;
    color: white;
}
nav {
    width: auto;
    height: 35px;
    border-bottom: 2px solid white;
    font-size: 14pt;
    background: gray;
    color: white;
}
ul {
    display: inline-block; /*Разместить элементы в ряд*/
    margin-left: 60px;
}
li {
    display: inline-block;
    padding: 5px;
}
#search {
    width: 180px;
    margin-left: 40px;
}
main {
    width: auto;
    height: 500px;
    display: flex; /*Разместить все элементы по флексу в ряд */
    border-bottom: 3px solid steelblue;
    background: gainsboro;
}
article {
    width: 500px;
    height: 200px;
    /*margin: 0px 0px 0px 60px;*/
    background: gold;
}
.task {
    background: rebeccapurple;
}
.image_task {
    background: red;
}
aside {
    width: 300px;
    height: 200px;
    background: green;
}


footer {
    width: auto;
    height: 50px;
    background: slategrey;
    color: white;
}
